langchain
langgraph
langchain-core
langchain-community
langchain.chains
python-dotenv
langchain-openai
langchain-groq
langchain_community

langchain_core

langchain_openai
streamlit
google-generativeai
python-dotenv
langchain_community
PyPDF2
chromadb
faiss-cpu
langchain_google_genai
tavily-python
streamlit
